@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hd-screen {
    height: 100dvh;
  }
}

@font-face {
  font-family: "Spring";
  src: url("/assets/fonts/Spring_Garden.ttf");
}